* {
    box-sizing: border-box;
  }
  
 body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/**********************************/
/*Start Screen CSS*/
/*Start Screen box*/
.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 50px 20px;
}

/*App description paragraph*/
.summary {
    text-align: center;
    margin: 30px;
    width: 75%;
}

/*form for user to enter product they want to search*/
.startForm {
    margin: 10px;
}

/*statement for finding product*/
label {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

/*textbox for searching*/
#startItemText {
    padding: 6px;
    margin: 15px auto 20px;
}

/*button to go find the item*/
.findButton {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

/**********************************/
/*Find Item screen*/
/*find item section*/
#findScreen{

}

/*text user entered for product name*/
.userInput{
    margin: 15px;
}

/*box holding all the products it could be*/
.drugList{
    padding: 10px;
    margin: 15px;
    height: 19em;
    border: 1px solid black;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.radioChoice {
    list-style-type: none;
    
}

.choiceLabel{
    border: 1px solid black;
    width: 90%;
    margin: 5px;
}

.radioChoice:checked + label {
    border: 3px solid black;
    background: red;

  }


  .choiceLabel:hover {
    border: 5px solid black;
    background: blue;

  }








/*button after user has selected product*/
.foundButton {
    margin: 15px;
    padding: 20px 35px;
    cursor: pointer;
}

/*div where user can re-enter product info*/
.searchBox{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchTextBox{
    display: inline-flex;
}

/*div for search text box*/
.searchTextBox2{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px auto;
    width: 80%;
    
}
/*question for re-entering the product*/
.query1{
    font-size: 14px;
    padding: 10px;
    margin: 5px;
}

/*text for searching for a new item*/
#searchText1 {
    border: 1px solid black;
    padding: 5px;
}

/*css for search again button*/
.searchButton1{
    padding: 5px;
    cursor: pointer;
}

/**********************************/
/*results screens*/
/*results section*/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*new search question*/
.query2{
    margin: 5px 5px 0 5px;
    font-size: 12px;
}
/*form for results section*/
.restart {
    display: flex;
    flex-direction: column;
    width: 100%;
}







/*css for text area and button on results screen*/
#searchText2 {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.searchButton2 {
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
}
 
.resultsText{
    margin: 10px;
}







/*cheapest box*/
.cheapest {
    border: 2px solid black;
    height: 9em;
    width: 80%;
    border-radius: 30px;
    margin: 10px;


}









/*container for drugs css*/
.box {
    border: 1px solid black;
    height: 9em;
    width: 70%;
    border-radius: 30px;
    margin: 10px;

}


/**********************************/
/*other*/
.hidden {
    display: none;
 }